 /************   Resetting default styles   **************/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 line-height: 1.2em;
}

/* hide blue border around buttons */
button:focus {
  outline: none !important;
}


/************   Common styles   **************/

body {
  height: 100%;
  background: url(../img/background_w1920.jpg) center /cover no-repeat fixed;
  font-family: 'Love Ya Like A Sister', cursive;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.heading {
  font-size: 4em;
  margin: 10px;
  color: #ffe28c;
  text-shadow: 0 0 10px black;
}

.reminder {
  margin: 10px;
  align-self: center;
}

.fa-star {
  color: #ffe28c;
}

button {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 7px;
  background: linear-gradient(beige, #e8e8b9);
  border: 1px solid #e8e8b9;
  font-family: 'Love Ya Like A Sister', cursive;
}

button:hover {
  box-shadow: 0 0 10px black;
}

button:active {
  background: linear-gradient(beige, #d3d39a 30%, #d3d39a 70%, beige);
  border-style: inset;
}


/************   Board   **************/

.board-wrapper {
  position: relative;
  width: 60%;
  padding-bottom: 60%;
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  -ms-align-items: stretch;
  align-items: stretch;
}

.invite-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.invite-message {
  width: 75%;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: beige;
}

.card {
  width: 25%;
  padding: 5px;
  position: relative;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 500px;
}

.card .front, .card .back {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  background: url(../img/front.svg) beige center no-repeat /contain;
}

.card .back {
  background: beige center no-repeat /cover;
  border: 4px double black;
}

.card.clicked .front {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card:not(.clicked) .back {
  -webkit-transform: rotateY( -180deg );
  -moz-transform: rotateY( -180deg );
  -o-transform: rotateY( -180deg );
  transform: rotateY(-180deg );
}

.card:not(.clicked) .front, .card.clicked .back {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

.card:not(.clicked) .back {
  -webkit-transform: rotateY( -180deg );
  -moz-transform: rotateY( -180deg );
  -o-transform: rotateY( -180deg );
  transform: rotateY(-180deg );
}

.card.matched .back {
  -webkit-transition: background-image .3s;
  -moz-transition: background-image .3s;
  -o-transition: background-image .3s;
  transition: background-image .3s;
  background-image: url(../img/match.svg) !important;
}


/************   Info & controls   **************/

.info {
  margin-left: 10%;
  font-size: 2em;
}

.rating, .moves, .timer {
  margin: 20px 10px;
  font-weight: bold;
}

.rating {
  margin-top: 40px;
}

.cat {
  width: 250px;
  height: 235px;
  background: url(../img/cat_3.png) no-repeat center /contain;
}


/************   Win modal    **************/

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

.modal-wrapper.hidden, .invite-wrapper.hidden {
  display: none;
}


.modal-info {
  width: 75%;
  padding: 10px;
}

.modal-info:first-child {
  font-weight: bold;
}

#modal-cat {
  width: 300px;
  height: 200px;
  background: center no-repeat /contain;
}

#modal-button {
  width: 100px;
}
